<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <style>
        td, th {
            border: 1px solid black;
            padding: 20px;
            font-size: 2vw;
        }

        table {
            margin: 0 auto;
        }

        .bordered {
            border: 1px solid black;
            margin: 2vh;
        }

        .form-row {
            margin: 5px;
            border: 1px solid grey;
        }
    </style>
</head>
<body>

<h1>Index page</h1>

<div id="users-list" class="bordered">
    <table>
        <thead>
        <tr>
            <th>User id</th>
            <th>username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getRole()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="bordered">
    <h2>Change / add user</h2>
    <p>You can add or update user.<br>
        If You`ll skip id field, then new user will be added to database,<br>
        else user with specified id will be changed (you need to fill all fields).
    </p>
    <form th:action="@{/add}" th:method="post" th:object="${user}">
        <div class="form-row">
            <label for="id">ID:</label>
            <input name="id" id="id" type="text" th:field="*{id}">
        </div>
        <div class="form-row">
            <label for="username">username:</label>
            <input name="username" id="username" type="text" th:field="*{username}">
        </div>
        <div class="form-row">
            <label for="firstName">firstName:</label>
            <input name="firstName" id="firstName" type="text" th:field="*{firstName}">
        </div>
        <div class="form-row">
            <label for="lastName">lastName:</label>
            <input name="lastName" id="lastName" type="text" th:field="*{lastName}">
        </div>
        <div class="form-row">
            <label for="role">Role:</label>
            <select name="role" id="role" th:field="*{role}">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}" ></option>
            </select>
        </div>
        <button type="submit">Send</button>
    </form>
</div>

<div class="bordered">
    <h2>Remove user by id</h2>
    <p>Enter existing user id to delete him</p>
    <form action="/delete" method="get">
        <div class="form-row">
            <label for="userId">User id:</label>
            <input name="id" id="userId" type="text">
        </div>
        <button type="submit">Send</button>
    </form>
</div>
</body>
</html>